<footer class="card">
    <div class="card bg-dark text-white"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi iste ipsam ullam veniam maxime deleniti possimus illo similique recusandae consectetur totam accusantium libero delectus optio nemo est vel, rem tempore.</p></div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>