<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex py-3">
      <div class="w-75 mx-5">
        <a class="navbar-brand" href="/">ExpressBooks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      </div>

            
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link mx-4" href="/books">Books</a>
          <a class="nav-link mx-4" href="/addbook">Add a New Book</a>
        </div>
      </div>
    </div>
  </nav>